<tr>
  <td>
    <a href="<%= admin_question_url(gist.question) %>" target="_blank">
      <%= truncate( gist.question.body, :length => 25 )%>
    </a>
  </td>
  <td><%= gist.user.email %></td>
  <td><a href="<%= gist.url %>" target="_blank"><%= gist.url %></td>
</tr>
