<h1><%= t('.test_was_passed', title: @test_passage.test.title)  %></h1>

<p>
  <%= t('.questions_passed',
        count1: @test_passage.result[:correct_questions_count],
        count2: @test_passage.result[:total_questions_count]) %>
</p>

<p>
  <%= t('.test_result') %>:
  <% if @test_passage.succeed? %>
    <span style="color: green">
      <%= @test_passage.result[:correct_questions_percent] %>%
    </span>
    <%= t('.test_succeed') %>
  <% else %>
    <span style="color: red">
      <%= @test_passage.result[:correct_questions_percent] %>%
    </span>
    <%= t('.test_unsuccessful') %>
    <%= link_to t('buttons.repeat_test_button'), start_test_path(@test_passage.test), method: :post %>

    <% if @test_passage.passage_time_expired? %>
      <div>Вы не успели завершить тест за отведённое время</div>
    <% end %>
  <% end %>
</p>

<%= link_to t('buttons.to_tests_list_button'), tests_path, method: :get %>
