<h1><%= t('.test_title', title: @test_passage.test.title) %></h1>
<span>
  <% if @test_passage.test.passage_time > 0 %>
    Время до завершения теста:
    <b class="timer" data-start-time="<%= @test_passage.start_time %>" data-end-time="<%= @test_passage.end_time %>">
      Осталось <span class="minutes"></span> минут и <span class="seconds"></span> секунд
    </b>
  <% else %>
    <b>У теста неограниченное время прохождения</b>
  <% end %>
</span>

<p>
  <b><%= t('.question_body', body: @test_passage.current_question.body) %></b>
</p>

<p>
  <%= t('.questions_answered',
        count1: @test_passage.question_number(@test_passage.current_question),
        count2: @test_passage.test.questions.size) %>
</p>

<div class="progress-bar">
  <div class="progress"></div>
</div>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form|  %>
  <%= form.collection_check_boxes :answer_ids,
                                  @test_passage.current_question.answers,
                                  :id,
                                  :body,
                                  include_hidden: false do |b| %>
    <%= b.check_box id: "answer_ids#{b.object.id}" %>
    <%= b.label %>
  <% end %>

  <p><%= link_to t('buttons.save_gist'), gist_test_passage_path(@test_passage), method: :post %></p>

  <input type="hidden"
         class="question-data"
         data-question-number="<%= @test_passage.question_number(@test_passage.current_question) %>"
         data-total-questions-count="<%= @test_passage.test.questions.size %>"
  />

  <p>
    <%= form.submit t('buttons.next_question_btn') %>
  </p>
<% end %>
