<tr>
  <th scope="row">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </th>
  <td class="align-middle">
    <%= test.level %>
  </td>
  <td class="align-middle">
    <%= test.questions.size %>
  </td>
  <td class="align-middle">
    <%= button_to t('buttons.open_test_btn'),
                  admin_test_path(test),
                  method: :get,
                  class: 'btn btn-primary' %>
  </td>
  <td class="align-middle">
    <%= button_to t('buttons.edit_test_btn'),
                  edit_admin_test_path(test),
                  method: :get,
                  data: { test_id: test.id },
                  class: 'btn btn-warning form-inline-link' %>
  </td>
  <td class="align-middle">
    <%= button_to t('buttons.delete_test_btn'), admin_test_path(test),
                    method: :delete,
                    data: { confirm: t('delete_confirm') },
                    class: 'btn btn-danger' %>
  </td>
</tr>
