<section class="test">
  <h1>Тест: <%= @test.title %></h1>
  <span>Уровень теста: <%= @test.level %></span>
</section>
<section class="test_questions">
  <% if @test.questions.present? %>
    <h1>Вопросы данного теста: </h1>
    <ol>
      <%= render @test.questions %>
    </ol>
  <% else %>
    <p>
      У теста отсутствуют вопросы
    </p>
  <% end %>
</section>

<%= link_to 'Изменить', edit_admin_test_path(@test), method: :get %>
<%= link_to 'Удалить', admin_test_path(@test),
            method: :delete,
            data: { confirm: "Вы уверены?" } %>
<%= link_to 'Создать вопрос', new_admin_test_question_path(@test), method: :get %>
<%= link_to 'Назад', admin_tests_path, method: :get %>
