<section class="test">
  <h1><%= Test.model_name.human %>: <%= @test.title %></h1>
  <div><%= t('.level') %>: <%= @test.level %></div>
  <% if @test.passage_time.zero? %>
    <div>Время прохождения не задано</div>
  <% else %>
    <div>Время прохождения теста: <%= @passage_minutes %> минут, <%= @passage_seconds %> секунд</div>
  <% end %>
</section>

<section class="test_questions">
  <% if @test.questions.present? %>
    <h1><%= t('.questions_list_title') %>: </h1>
    <ol>
      <%= render @test.questions %>
    </ol>
  <% else %>
    <p>
      <%= t('.no_questions_message') %>
    </p>
  <% end %>
</section>

<%= button_to t('buttons.edit_test_btn'), edit_admin_test_path(@test), method: :get, class: 'btn btn-primary mb-1' %>
<%= button_to t('buttons.delete_test_btn'), admin_test_path(@test),
                  method: :delete,
                  data: { confirm: t('delete_confirm') },
                  class: 'btn btn-danger mb-1' %>
<%= button_to t('buttons.create_question_btn'), new_admin_test_question_path(@test), method: :get, class: 'btn btn-primary mb-3' %>
<%= link_to t('buttons.back_btn'), admin_tests_path, method: :get %>
