<li>
  <%= t('.title') %>: <%= test.title %>,
  <%= t('.level') %>: <%= test.level %>,
  <%= t('.questions_count') %>: <%= test.questions.size %>
  <%= button_to t('buttons.start_test_btn'), start_test_path(test) %>
</li>
